* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: none;
  text-decoration: none;
}

*>a {
  text-decoration: none;
}

*>li {
  list-style: none;
}

body {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  background-color: #FFFBF7;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

.header {
  display: fixed;
  top: 0;
  padding: 16px 8px;
  background-color: #FFFBF7;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 55px;
}

.logo {
  height: 35px;
}

.logo__image {
  width: auto;
  height: 100%;
}

.logo__brand-name {
  width: 80%;
}

.menu {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
}

.menu__link {
  font-family: 'Open Sans', sans-serif;
  line-height: 55px;
  font-size: 16px;
  line-height: 24px;
  color: #025157;
}

.menu__sign-in {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  line-height: 21px;
  color: #67b54b;
}

.menu__button {
  padding: 14px 12px;
  background-color: #67b54b;
  border-radius: 5px;
  height: 55px;
  color: #fff;
}