@import url('https://fonts.googleapis.com/css2?family=Alegreya:wght@400;600&family=Open+Sans:wght@400;600&family=Slabo+27px&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: none;
  text-decoration: none;
}

*>a {
  text-decoration: none;
}

*>li {
  list-style: none;
}

body {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  background-color: #FFFBF7;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

.header {
  position: fixed;
  top: 0;
  padding: 16px 8px;
  background-color: #FFFBF7;
  margin: 0 auto;
  z-index: 1;
  max-width: 1440px;
  width: 100%;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 55px;
  width: 100%;
}

.logo {
  height: 35px;
  width: 12%;
}

.logo__image {
  width: auto;
  height: 100%;
}

.logo__brand-name {
  width: 80%;
}

.menu {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
}

.menu__link {
  font-family: 'Open Sans', sans-serif;
  line-height: 55px;
  font-size: 16px;
  line-height: 24px;
  color: #025157;
}

.menu__profile {
  width: 12%;
  text-align: right;
}

.menu__sign-in {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  line-height: 21px;
  color: #67b54b;
}

.menu__button {
  padding: 14px 12px;
  background-color: #67b54b;
  border-radius: 5px;
  height: 55px;
  color: #fff;
}

.main {
  width: 100%;
  margin: 285px auto 0;
  text-align: center;
}

.hero__title {
  font-family: 'Alegreya', serif;
  font-size: 60px;
  line-height: 72px;
  color: #025157;
  margin: 24px;
}

.hero__subtitle {
  font-family: 'Slabo 27px', serif;
  font-size: 20px;
  line-height: 24px;
  color: #46484c;
  margin-bottom: 30px;
}

.form {
  display: flex;
  justify-content: center;
}

.form__input {
  border-radius: 8px 0 0 8px;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 24px;
  background-color: #ffffff;
  height: 35px;
  width: 250px;
  padding: 6px 50px 6px 20px;
  border: 1px solid #b6b6b6;
}

.form__submit {
  background-color: #025157;
  color: #ffffff;
  border-radius: 0 8px 8px 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 24px;
  padding: 6px 20px 6px 20px;
}

.hero__content {
  margin-top: 30px;
  margin-bottom: 30px;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #8b8b8b;
  opacity: 80%;
}

.capterra {
  width: 82px;
  display: block;
  margin: 0 auto;
}

.matcha {
  width: 768px;
  height: 405px;
  display: block;
  margin: 0 auto;
}

.promo {
  display: flex;
  flex-direction: row;
  gap: 30px;
  justify-content: center;
  align-items: start;
  margin: 100px auto;
  max-width: 900px;
}

.promo__video {
  width: 50%;
}

.promo__article {
  width: 50%;
  text-align: left;
}


.article__title {
  font-family: 'Alegreya', serif;
  font-size: 40px;
  line-height: 48px;
  color: #025157;
  margin: 24px;
  padding: 0;
  margin: 0;
}

.article__content {
  margin-top: 15px;
}

.article__text {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #343434;
  margin-bottom: 15px;
}

.features {
  display: grid;
  grid-template: repeat(2, 300px) / repeat(2, 408px);
  justify-content: center;
  text-align: left;
  gap: 30px;
  margin: 30px 0;
  background-color: #025157;
  padding: 45px 0;
}

.feature__card {
  display: flex;
  background-color: #FFFBF7;
  border-radius: 5px;
}

.card__content {
  padding: 30px 20px 40px 40px;
  width: 70%;
}

.card__image {
  padding: 30px 40px 0 40px;
  width: 20%;
}

.card__title {
  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
  line-height: 29px;
  color: #343434;
  margin-top: 15px;
}

.card__text {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #7e7e7e;
  margin: 16px 0
}

.card__link {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #67b54b;
  margin: 16px 0
}