@import url('https://fonts.googleapis.com/css2?family=Alegreya:wght@400;600&family=Open+Sans:wght@400;600&family=Slabo+27px&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: none;
  text-decoration: none;
}

*>a {
  text-decoration: none;
}

*>li {
  list-style: none;
}

body {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  background-color: #FFFBF7;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

.header {
  position: fixed;
  top: 0;
  padding: 16px 8px;
  background-color: #FFFBF7;
  margin: 0 auto;
  z-index: 1;
  max-width: 1440px;
  width: 100%;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 55px;
  width: 100%;
  margin: 0 auto;
}

.logo {
  height: 35px !important;
  width: 12% !important;
}

.logo__image {
  width: auto;
  height: 100%;
}

.logo__brand-name {
  width: 80%;
}

.menu,
.actions {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  justify-content: end;
}

.menu {
  margin: 0 auto;
}

.menu__link {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #025157;
}

.actions {
  width: 16%;
  text-align: right;
  align-items: right;
  padding: 0;
}

.actions__sign-in {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  line-height: 21px;
  color: #67b54b;
}

.actions__button {
  padding: 14px 12px;
  background-color: #67b54b;
  border-radius: 5px;
  height: 55px;
  color: #fff;
}

.main {
  width: 100%;
  margin: 285px auto 0;
  text-align: center;
}

.hero__title {
  font-family: 'Alegreya', serif;
  font-size: 60px;
  line-height: 72px;
  color: #025157;
  margin: 24px;
  font-style: bold;
  font-weight: 600;
}

.hero__subtitle {
  font-family: 'Slabo 27px', serif;
  font-size: 20px;
  line-height: 24px;
  color: #46484c;
  margin-bottom: 30px;
}

.form {
  display: flex;
  justify-content: center;
}

.form__input {
  border-radius: 8px 0 0 8px;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 24px;
  background-color: #ffffff;
  height: 35px;
  width: 250px;
  padding: 6px 50px 6px 20px;
  border: 1px solid #b6b6b6;
}

.form__submit {
  background-color: #025157;
  color: #ffffff;
  border-radius: 0 8px 8px 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 24px;
  padding: 6px 20px 6px 20px;
}

.hero__content {
  margin-top: 30px;
  margin-bottom: 30px;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #8b8b8b;
  opacity: 80%;
}

.capterra {
  width: 82px;
  display: block;
  margin: 0 auto;
}

.matcha {
  width: 768px;
  height: 405px;
  display: block;
  margin: 0 auto;
}

.promo {
  display: flex;
  flex-direction: row;
  gap: 30px;
  justify-content: center;
  align-items: start;
  margin: 100px auto;
  max-width: 900px;
}

.promo__video {
  width: 50%;
}

.promo__article {
  width: 50%;
  text-align: left;
}


.article__title {
  font-family: 'Alegreya', serif;
  font-size: 40px;
  line-height: 48px;
  color: #025157;
  margin: 24px;
  padding: 0;
  margin: 0;
}

.article__content {
  margin-top: 15px;
}

.article__text {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #343434;
  margin-bottom: 15px;
}

.features {
  display: grid;
  grid-template: repeat(2, 1fr) / repeat(2, 408px);
  justify-content: center;
  text-align: left;
  gap: 30px;
  padding: 40px 0;
  background-color: #025157;
  padding: 45px 0;
}

.feature__card {
  display: flex;
  background-color: #ffffff;
  border-radius: 5px;
}

.card__content {
  padding: 30px 10px 40px 40px;
  width: 65%;
}

.card__title {
  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
  line-height: 29px;
  color: #343434;
  margin-top: 15px;
}

.card__text {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #7e7e7e;
  margin: 16px 0
}

.card__link {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #67b54b;
  margin: 16px 0
}

.card__icon-container {
  max-width: 35px;
}

.card__icon {
  width: 100%;
}

.image {
  margin: auto;
  width: 10%;
  position: absolute;
  right: 80px;
  top: 35%;
}

.logros {
  background-color: #a1d683;
  padding: 54px 164px;
  text-align: left;
  display: grid;
  grid-template-columns: 42% 20%;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.logros__image {
  max-width: 500px;
}

.logros__image-asset {
  width: 100%;
}

.logros__title {
  font-family: 'Alegreya', serif;
  font-size: 51px;
  line-height: 61px;
  color: #025157;
  margin-bottom: 15px;
}

.logros__text {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  line-height: 27px;
  color: #343434;
  margin-bottom: 15px;
}

.logros__button {
  background-color: #025157;
  border-radius: 8px;
  font-size: 14px;
  line-height: 21px;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  padding: 12px;
  color: #ffffff;
  margin-bottom: 30px;
}

.logros__container {
  width: 220px;
  position: relative;
}

.logros__card {
  background-color: #ffffff;
  width: 100%;
  border-radius: 10px;
}

.logros__pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
  gap: 10px;
}

.logros__pagination-button {
  background-color: #ffffff;
  height: 3px;
  width: 30px;
  opacity: 0.5;
  cursor: pointer;
}

.logros__pagination-button:first-child {
  opacity: 1;
}

.logros__image-container {
  width: 220px;
  height: 177px;
  border-radius: 8px 8px 0 0;
  position: relative;
  overflow: hidden;
}

.logros__image {
  width: 100%;
  border-radius: 10px 10px 0 0;
}

.logros__brand-container {
  position: absolute;
  top: 110px;
  right: 25px;
  background-color: #f9da73;
  border-radius: 50%;
  height: 100px;
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logros__brand {
  height: auto;
  width: 80%;
}

.achievement {
  padding: 25px;
}

.achievement__brand {
  font-family: "Slabo 27px", serif;
  font-size: 18px;
  line-height: 20px;
  color: #025157;
  margin-bottom: 12px;
  margin-top: 15px;
}

.achievement__summary {
  font-family: "Open Sans", sans-serif;
  font-size: 25px;
  line-height: 30px;
  color: #212529;
}

.achievement__text {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #8b8b8b;
  margin-bottom: 15px;
  margin-top: 20px;
}

.achievement__container {
  display: flex;
  flex-direction: row;
  gap: 15px;
  justify-content: center;
  align-items: center;
}

.achievement__button {
  background-color: #025157;
  border-radius: 8px;
  font-size: 14px;
  line-height: 21px;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  padding: 12px;
  color: #ffffff;
  margin-top: 30px;
  width: 100%;
}


/** dispositivos móviles en vista viewport (vertical) */
@media (max-width: 575px) {

  .navbar-collapse {
    background-color: #FFFBF7;
    max-width: 575px;
    position: absolute;
    top: 55px;
    left: -10px;
    right: -10px;
  }

  .menu {
    flex-direction: column;
    align-items: start;
    padding: 20px 20px;
    gap: 15px;
  }

  .menu__item>a {
    height: 24px;
    line-height: 24px;
  }

  .actions {
    width: 100%;
    text-align: center;
    justify-content: start;
    padding: 0 20px;
  }

  .menu,
  .actions {
    align-items: center;
    justify-content: center;
  }

  .main {
    margin-top: 130px;
  }

  .hero__title {
    font-size: 30px;
    line-height: 42px;
  }

  .form {
    padding: 0 10px;
  }

  .form__input {
    width: 60%;
  }

  .form__submit {
    width: 40%;
  }

  .capterra {
    width: 70%;
  }

  .matcha {
    width: 90%;
    height: auto;
    display: block;
    margin: 30px auto 0;
  }

  .promo {
    flex-direction: column;
    align-items: center;
    margin: 50px auto;
  }

  .promo__video {
    width: 90%;
    height: auto;
  }

  .promo__article {
    width: 90%;
    height: auto;
  }

  .article__title {
    font-size: 25px;
    line-height: 1.2;
  }

  .article__form {
    width: 100%;
    padding: 0;
  }

  .article__form>.form__input {
    width: 50%;
    padding-right: 10px;
  }

  .article__form>.form__submit {
    width: 50%;
  }

  .features {
    grid-template: repeat(4, 1fr) / 1fr;
    padding: 45px 20px;
  }

  .card__content {
    padding: 30px 40px 40px 40px;
    width: 100%;
  }

  .card__image {
    display: none;
  }

  .logros {
    grid-template-columns: 1fr;
    padding: 27px 20px;
  }

  .logros__title {
    font-family: 'Alegreya', serif;
    font-size: 25px;
    line-height: 1.2;
  }

  .logros__container {
    width: 100%;
  }

  .logros__image-container {
    width: 100%;
    height: 250px;
    border-radius: 8px 8px 0 0;
    position: relative;
    overflow: hidden;
  }

  .logros__brand-container {
    position: absolute;
    top: 185px;
    right: 25px;
    background-color: #f9da73;
    border-radius: 50%;
    height: 100px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .logros__brand {
    height: auto;
    width: 80%;
  }

  .article__form>.form__submit {
    font-size: 14px;
  }
}

/** dispositivos pequeños en vista landscape (horizontal) */
@media (min-width: 576px and max-width: 767px) {}

/** dispositivos medianos (tablets) */
@media (min-width: 768px and max-width: 991px) {}

/** dispositivos grandes (desktops) */
@media (min-width: 992px and max-width: 1199px) {}

/** dispositivos extra grandes (monitores grandes, tvs) */
@media (min-width: 1200px) {}